@import 'todo.css';
@import 'weather.css';
@import 'config.css';

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #ffffff;
}

#clock {
  font-size: 120px;
  margin-bottom: 10px;
  flex: 0.5;
  display: flex;
  align-items: flex-end;
}

.hidden {
  display: none !important;
}

#login-form input[type='text'] {
  border: 0;
  padding: 10px;
  border-radius: 4px;
  opacity: 0.7;
}

#login-form input[type='text']:focus {
  outline: none;
}

#login-form input[type='submit'] {
  border: 0;
  padding: 10px;
  border-radius: 4px;
  font-weight: 600;
}

.validation-name {
  border: 2px solid tomato !important;
  transition: border 0s linear;
}

.section-1,
.section-2,
.section-3 {
  flex: 1;
}

.section-1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.section-1 > span {
  font-style: italic;
}

.section-2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-2 > div:last-child {
  flex: 0.5;
}

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100vh;
}

#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  gap: 5px;
}

#quote span:first-child {
  font-size: 24px;
}

footer {
  position: fixed;
  bottom: 0;
  color: #ffffff;
  width: 100%;
}

#greeting {
  padding: 0;
  margin: 0;
}
