main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #ffffff;
}

#clock {
  font-size: 120px;
  margin-bottom: 10px;
  flex: 0.5;
  display: flex;
  align-items: flex-end;
}

.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
  object-fit: cover;
}

#login-form input[type='text'] {
  border: 0;
  padding: 10px;
  border-radius: 4px;
  opacity: 0.7;
}

#login-form input[type='text']:focus {
  outline: none;
}

#login-form input[type='submit'] {
  border: 0;
  padding: 10px;
  border-radius: 4px;
  font-weight: 600;
}

.validation-name {
  border: 2px solid tomato !important;
  transition: border 0s linear;
}

.section-1,
.section-2,
.section-3 {
  flex: 1;
}

.section-1 {
  display: flex;
  height: 100vh;
  align-items: flex-start;
  font-style: italic;
}

.section-2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-2 > div:last-child {
  flex: 0.5;
}

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100vh;
}

#weather {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#weather span:first-child {
  font-size: 24px;
  font-weight: 600;
}

#todo-area {
  flex: 0.7;
}

#quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  gap: 5px;
}

#quote span:first-child {
  font-size: 24px;
}

footer {
  position: fixed;
  bottom: 0;
  color: #ffffff;
  width: 100%;
}

#todo-area > div {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 4px;
}

#todo-area > div > div:first-child {
  color: #b7b7b7;
  font-weight: 700;
}

#todo-form input {
  border: 0;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

#todo-form input:focus {
  outline: none;
}

#todo-form input::placeholder {
  color: #ffffff;
}

#todo-list {
  list-style: none;
  padding: 0;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
}

#todo-list li label,
#todo-list li label input {
  margin-right: 8px;
  cursor: pointer;
}

#todo-list li label:hover {
  color: #a8a8a8;
}

#todo-list li button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #ff6347;
  font-size: 16px;
}

#todo-list li button:hover {
  opacity: 0.5;
}

#greeting {
  padding: 0;
  margin: 0;
}
